[Unit]
Description=Global Node Search & Ban (GNOBAN)
Documentation=https://github.com/caesrcd/gnoban/blob/master/README.md

# https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/gnoban -conf /etc/gnoban/gnoban.toml \
                                -logfile /var/log/gnoban/gnoban.log

# Make sure the config directory is readable by the service user
PermissionsStartOnly=true
ExecStartPre=/bin/chgrp gnoban /etc/gnoban

# Process management
####################

Type=exec
KillSignal=SIGINT
Restart=on-failure
RestartSec=120
StandardOutput=null

# Directory creation and permissions
####################################

# Run as gnoban:gnoban
User=gnoban
Group=gnoban

# /etc/gnoban
ConfigurationDirectory=gnoban
ConfigurationDirectoryMode=0755

# /var/log/gnoban
LogsDirectory=gnoban
LogsDirectoryMode=0755

# /var/cache/gnoban
CacheDirectory=gnoban
CacheDirectoryMode=0750
Environment="XDG_CACHE_HOME=/var/cache/gnoban"

# Hardening measures
####################

MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
